
body {
  background-color: #efefef;
  margin: 0
}

/* HEADER */
header {
  background-color: rgb(43 43 43);
  width: 100vw;
  height: 20vh;
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* .header {
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
} */

.user-and-logo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr ;
  justify-items: end;
  padding-inline-end: 2.4em;
  padding-block-end: 1em;
}

.button {
  display: inline-flex;
  align-items: center;
  background: none;
  border: none
}

.nav-block {
  display: flex;
  font-size: 2em;
  margin-bottom: 0.5em;
  margin-left: 0.6em;
}

.logo {
  display: inline-flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: .1em;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 3em;
}

.admin-logo {
  font-size: 2em;
  background: none;
  color: gray;
  fill-opacity: .7;
}

.nav {
  display: inline-flex;
  align-items: center;
  padding: .5em;
  background: none;
  color: gray;
  font-size: 1.4em;
}

.shares,
.shares-text {
  color: white
}

.profile,
.down-icon,
.icon {
  display: inline-flex;
  align-items: center;
  font-size: 1em;
  background: none;
  color: rgb(31, 147, 209)
}

.down-icon,
.icon {
  font-size: 1.5em;
}

main {
  margin: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h2 {
  font-size: 1rem;
}

.card-center {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px
}

.card-center-share {
  cursor: pointer;
  font-size: 3em;
  font-size: 2em;
  border: none;
  border-radius: 50%;
  margin-left: 5%;
  margin-top: 5%;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
}

.card-center-share:hover {
  color: #460606;
}

article {
  border: 1px #bebebe solid;
    height: 60vh;
    width: 23vw;
    box-shadow: 1px 1px 1px 2px #dadcdb;
}

.card {
  background-size: 100% 100%;
  height: 33%
}

.card-header-one {
  background-image: url(./assets/nicola-kameel-11MKwELwXcU-unsplash.jpg);
}

.card-header-two {
  background-image: url(./assets/oreo.jpg);
}

.card-header-three {
  background-image: url(./assets/pacto-visual-cWOzOnSoh6Q-unsplash.jpg);
}

.card-header-four {
  background-image: url(./assets/toni-tan-mkP0mmP3rug-unsplash.jpg)
}

.card-header-five {
  background-image: url(./assets/eric-han-Hd7vwFzZpH0-unsplash.jpg);
}

.card-header-six {
  background-image: url(./assets/mikhail-vasilyev-IFxjDdqK_0U-unsplash.jpg);
}

.card-header-seven {
  background-image: url(./assets/martin-schiffer-ZEd44nDPTfA-unsplash.jpg);
}

.card-header-eight {
  background-image: url(./assets/sophie-dale-ovuTeeIm_0M-unsplash.jpg);
}

/* main {
  margin-left: 1
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 0.18fr) 0.44fr;
  grid-template-rows: 50px 50px;
  grid-template-areas: 
  'shares playlist personal-videos user-profile'
  'shares playlist personal-videos logo';
  justify-items: end;
  align-items: end;
  align-content: space-around;
}

.shares,
.playlist,
.personal-videos {
  padding-top: 2em;
  padding-right: 4em;
}

.shares {
  
  grid-area: shares;
  padding-top: .5em;
  color: gray;
}

.playlist {
  grid-area: playlist;
  padding-top: .5em;
  color: gray
}

.personal-videos {
  grid-area: personal-videos;
  padding-top: .5em;
  color: gray
}

.user-profile {
  grid-area: user-profile;
  color: gray;
}

.logo {
  grid-area: logo;
  color: gray
}

.card-center {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1em;
  border: 2px solid black
}

.individual-card {
  border: 1px solid blue;
  width: 20em;
  height: 28em;
  text-align: start;
} */

